<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Property</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <div>
    <h2>Update Property</h2>
    <form action="{{ url_for('update_property', property_id=property.id) }}" method="post">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" value="{{ property.name }}" required><br>
        <label for="description">Description:</label><br>
        <textarea id="description" name="description" required>{{ property.description }}</textarea><br>
        <label for="location">Location:</label><br>
        <input type="text" id="location" name="location" value="{{ property.location }}" required><br>
        <label for="price">Price:</label><br>
        <input type="number" id="price" name="price" value="{{ property.price }}" step="0.01" required><br>
        <label for="available">Available:</label><br>
        <select id="available" name="available" required>
            <option value="true" {% if property.available %}selected{% endif %}>Yes</option>
            <option value="false" {% if not property.available %}selected{% endif %}>No</option>
        </select><br>
        <input type="submit" value="Update">
    </form>
</div>
</body>
</html>
